.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main-header {
  font-family: 'Montserrat', sans-serif;
}
.create-form label {
  color: rgb(255, 255, 255) !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;
}

label {
  color: white !important;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212121;
  color: whitesmoke;
  flex-direction: column;
}
